@(messages: play.i18n.Messages)
@main("Dziennik") {

    <link href="@routes.Assets.versioned("stylesheets/style.css")" rel="stylesheet">
    <div class="container">
        <form class="form-signin" method="post" action="@routes.LoginRegisterController.doLogin()">

            <h2 class="form-signin-heading">Please log in</h2>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" placeholder="UserName" name="username" class="form-control" required autofocus/>

            <label for="login_password" class="sr-only">Password</label>
            <input type="password" name="password" placeholder="Password" id="login_password" class="form-control" required/>

            <input type="submit" class="btn btn-lg btn-primary btn-block" value = "@messages.at("home.login")"/>

        </form>
    </div>
}(messages)