@(messages: play.i18n.Messages)(userRole: List[model.UserRole])(user: List[model.User])
@main("Dziennik") {

    <link href="@routes.Assets.versioned("stylesheets/style.css")" rel="stylesheet">
    <div class="container">
        <form class="form-signin" method="post" action="@routes.Application.addRoleToUser()">
            <select name = "userrole">
            @for(index <- 0 until userRole.size) {
                <option value="@userRole(index).getName">@userRole(index).getName</option>
            }
            </select>

            <select name = "username">
            @for(index <- 0 until user.size) {
                <option value="@user(index).getUsername">@user(index).getUsername</option>
            }
            </select>
            @helper.CSRF.formField
            <input class="btn btn-lg btn-primary btn-block" type="submit" value = "Dodaj role"/>
        </form>

    </div>
}(messages)